/*****
FONTS
*****/

@font-face {
    font-family: "BetterFly";
    src: url("/fonts/BetterFly-Draft.woff2") format("woff2"),
        url("/fonts/BetterFly-Draft.woff") format("woff");
}

@font-face {
    font-family: "BFNarrow";
    src: url("/fonts/BetterFly-Narrow.woff2") format("woff2"),
     url("/fonts/BetterFly-Narrow.woff") format("woff");
}

@font-face {
    font-family: "Crimson Text";
    font-style: "italic";
    font-weight: 400;
    src: local("Crimson Text Italic"), local("CrimsonText-Italic"),
     url("http://fonts.gstatic.com/s/crimsontext/v6/a5QZnvmn5amyNI-t2BMkWBMBlNeli-0RcAdOFWWLdxQ.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
      U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Crimson Text";
    font-style: italic;
    font-weight: 600;
    src: local("Crimson Text Semibold Italic"), local("CrimsonText-SemiboldItalic"),
     url("http://fonts.gstatic.com/s/crimsontext/v6/4j4TR-EfnvCt43InYpUNDErrE62zycmuf6NB1JeYrwM.woff2")
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
     U+FEFF, U+FFFD;
  }

@font-face {
    font-family: "Crimson Text";
    font-style: normal;
    font-weight: 700;
    src: local("Crimson Text"), local("CrimsonText-Roman"),
     url("http://fonts.gstatic.com/s/crimsontext/v6/3IFMwfRa07i-auYR-B-zNegdm0LZdjqr5-oayXSOefg.woff2")
      format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
     U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    src: local('Crimson Text Bold'), local('CrimsonText-Bold'),
     url(https://fonts.gstatic.com/s/crimsontext/v8/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ.woff2)
      format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
     U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
     U+FEFF, U+FFFD;
  }

:root {
    --clr-text:#3d3d3d;
    --clr-primary: #32CD32;
    --clr-accent: #00BFFF;

    --ff-title: "BFNarrow", sans-serif;
    --ff-serif: "Crimson Text", serif;
    --ff-logo: "BetterFly", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-family: var(--ff-serif);
    color: var(--clr-text);
    font-size: 1.125rem;
}

img {
    display: block;
    max-width: 100%;
}

/* Tipografia */

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h2,
h3 {
    font-family: var(--ff-title);
    line-height: 0.8;
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

p {
    margin-bottom: 0.85em;
}

/* Inicio Style */
